<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user), class:"user-link" %>
  </div>
  <div class="create-chat">
    <%= link_to "チャットを作成する", new_room_path, class:"create-btn" %>
  </div>
</div>

<div class="side-bar">

  <% current_user.rooms.each do |chatroom| %>
    <div class="room">
      <%= link_to chatroom.name, room_messages_path(chatroom), class:"room-name" %>
    </div>
  <% end %>

</div>
