<div class="side-header">
  <div class="user-name">
    <a href="###" class="user-link">TOM</a>
  </div>
  <div class="create-chat">
    <a href="###" class="create-btn">チャットを作成する</a>
  </div>
</div>

<div class="side-bar">
  <div class="room">
    <a href="###" class="room-name">チャットルーム</a>
  </div>
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>  
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>  
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>  
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>  
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>  
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>  
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>  
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>  
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>  
  <div class="room">
    <a href="###"class="room-name">チャットルーム</a>
  </div>

</div>
